sudo: false
language: php

php:
  - 7.3
  - 7.2
  - 7.1
  - 7.0

install:
  - composer self-update
  - composer install

script:
  - ./vendor/bin/phpunit -c ./phpunit.xml --coverage-text
  - ./vendor/bin/phpcs --standard=phpcs.xml src -s
  - ./vendor/bin/phpcs --standard=phpcs.xml tests -s

matrix:
  fast_finish: true
