name: Build
on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.1', '8.2', '8.3', '8.4', '8.5']
    name: PHPUnit @ PHP ${{ matrix.php-versions }}

    steps:
      - uses: actions/checkout@v6
      - uses: php-actions/composer@v6
      - uses: php-actions/phpunit@master
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          args: --coverage-text
          php_version: ${{ matrix.php-versions }}
          version: 9
